@import url(http://fonts.googleapis.com/css?family=Satisfy|Montserrat:400,700);
@import url("../../dist/lib/font-awesome/css/font-awesome.min.css");
* {
  box-sizing: border-box;
}

a {
  color: #125688;
  text-decoration: none;
}
body {
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  padding: 0;
  margin: 0;
  background: #FAFAFA;
}


header.top {
  background: #fff;
  border-bottom: 1px solid #edeeee;

  .wrapper {
    padding: 15px;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    overflow: auto;
  }
  h1 {
    margin: 0;
    padding: 0;
    font-family: 'Satisfy', cursive;
    color: #004879;
    font-size: 1.5em;
    float: left;
    width: 20%;
    position: relative;
    left: 3.5em;
  }

  nav {
    float: left;
    width: 60%;
    height: 30px;
    margin-left: 20%;
    position: relative;
    top: 0;
    left: 0;

    overflow: auto;
    .account {
      position: absolute;
      top: 9px;
      right: 5.5em;
      color: #125688;
      text-decoration: none;
    }

    input {
      position: absolute;
      top: 0;
      left: 0;

      background: #fafafa;
      border: solid 1px #edeeee;
      border-radius: 15px;

      color: #818488;
      cursor: text;
      text-align: center;
      font-size: .9em;
      font-weight: 300;
      height: 28px;
      width: 185px;
      padding: 7px;

      &:focus {
        outline: none;
      }
    }

    i {
      position: absolute;
      left: 3em;
      top: 0.4em;
      color: #929696;
      }
    }
  }



.photos {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 60px 15px;

  .photo {
    margin: 0 auto;
    width: 80%;
    background-color: #fff;
    border: 1px solid #edeeee;
    border-radius: 3px;
    margin-bottom: 60px;

    header {
      height: 64px;
      padding: 14px 20px;
      background: #fff;
      position: relative;

      img {
        width: 30px;
        height: 30px;
        flex-basis: 30px;
        border-radius: 180px;
      }

      a {
        position: absolute;
        top: 20px;
        left: 60px;
      }

      .timestamp {
        position: absolute;
        top: 20px;
        right: 15px;
        color: #a5a7aa;
      }
    }

    img {
      width: 100%;
    }

    .likes, .comments {
      padding: 15px;
      font-size: .8em;
    }

    footer {
      padding: 15px;
      position: relative;
      border-top: 1px solid  #edeeee;

      .toggleLikeBtn {
        position: relative;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1.5em;
        color: #929696;
      }


      input {
        position: relative;
        border: none;
        outline: none;
        padding: 15px;
        font-size: .9em;
        width: 80%;
      }

      .controls {
        position: absolute;
        top: 30px;
        right: 15px;
        border: none;
        outline: none;
        font-size: .9em;
        color: #929696;
        background: transparent;
      }
    }
  }
}

.comments {
  .comment {
    margin: 8px 0;
    a {
      margin: 0 4px 0 0;
    }
  }
}


@media (max-width: 450px) {
  header.top {
    nav {
      input {
        display: none;
      }
    }
  }
}
